<!--BUTTON GROUP BLOCK-->
<div class="btn-group" style="--gap:{{ block.settings.btn_group_gap }}px" {{ block.shopify_attributes }}>
    {% content_for 'blocks' %}
</div>

{% stylesheet %}
.btn-group {
    display: flex;
    gap: var(--gap);
}
{% endstylesheet %}

{% schema %}
{
    "name": "Button Group",
    "settings": [
        {
            "type": "range",
            "id": "btn_group_gap",
            "min": 5,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 16,
            "label": "Gap",
        }
    ],
    "blocks": [{"type": "button"}],
    "presets": [
        {
            "name": "Button Group",
            "blocks": [
                {   
                    "type": "button",
                },
                {
                    "type": "button",
                }
            ]
        }
    ]
}
{% endschema %}