<!--SLIDE BLOCK-->
<div class="mh-slider__slide {{ block.settings.position }}" {{ block.shopify_attributes }}>
    <div class="mh-slider__content mh-slider__content--{{ block.settings.content_alignment }}">
        {% content_for 'blocks' %}
    </div>
</div>
{% stylesheet %}
.mh-slider__slide {
    height: inherit;
    padding: 0 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mh-slider__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.mh-slider__content--left {
    align-items: start;
}
.mh-slider__content--center {
    align-items: center;
}
.mh-slider__content--right {
    align-items: end;
}
@media (min-width: 768px) {
    .mh-slider__slide--left {
        justify-content: start;
    }
    .mh-slider__slide--center {
        justify-content: center;
    }
    .mh-slider__slide--right {
        justify-content: end;
    }
}
{% endstylesheet %}

{% schema %}
{
    "name": "Slide",
    "class": "swiper-slide",
    "settings": [
        {
        "type": "select",
        "id": "position",
        "label": "Position",
        "options": [
            {
            "value": "mh-slider__slide--left",
            "label": "Left"
            },
            {
            "value": "mh-slider__slide--center",
            "label": "Center"
            },
            {
            "value": "mh-slider__slide--right",
            "label": "Right"
            }
        ],
        "default": "mh-slider__slide--left",
        "info": "Works only on larger screen sizes."
        },
        {
            "type": "text_alignment",
            "id": "content_alignment",
            "label": "Content Alignment",
            "default": "left"
        },
    ],
    "blocks": [{"type": "text"},{"type": "button"},{"type": "button-group"}],
    "presets": [{"name": "Slide"}]
}
{% endschema %}