{{ block.settings.text }}


{% schema %}
{
    "name": "Text",
    "settings": [
        {
            "type": "richtext",
            "id": "text",
            "label": "Text Content",
            "default": "<p>Your text here</p>"
        }
    ],
    "presets": [{"name": "Text"}]
}
{% endschema %}