<!--TEXT BLOCK-->
<div class="text b"
  style="
  --font-size:{{ block.settings.font_size }}pt;
  "
  {{ block.shopify_attributes }}
  >
  {{ block.settings.text }}
</div>

{% stylesheet %}
.text {
  width: 200px;
  font-size: var(--font-size);
  overflow-wrap: break-word;
}

{% endstylesheet %}


{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Content"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 8,
      "max": 100,
      "step": 1,
      "unit": "pt",
      "default": 25,
      "label": "Size",
    },
  ],
  "presets": [{"name": "Text"}]
}
{% endschema %}