<!-- Slider main container -->
<div class="swiper test">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

{% stylesheet %}
  .test{
    width: 500px;
    height: 300px;
  }
{% endstylesheet %}

{% javascript %}

  const el = document.querySelector('.test');
  const swiperEffect = el.dataset.swiperEffect;
  const swiperAutoplay = el.dataset.swiperAutoplay === 'true';
  const swiperAutoplayDelay = Number(el.dataset.swiperAutoplayDelay);
  
  // BEGIN SWIPER INITIALIZATION
  const swiper = new Swiper(el, {
    direction: 'horizontal',
    loop: true,

    // Autoplay
    autoplay: swiperAutoplay ? {
      delay: swiperAutoplayDelay,
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
    } : false,

    // Effect
    effect: swiperEffect, // 'slide' or 'fade'
    // Fade effect parameters
    fadeEffect: { crossFade: true },

    // Navigation arrows
    navigation: {
      addIcons: swiperAutoplay ? false : true,
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

{% endjavascript %}