<section class="swiper mh-slider">
  <div class="swiper-wrapper mh-slider__wrapper">
    {% content_for 'blocks' %}
  </div>
  
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</section>


{% stylesheet %}
/*
.shopify-block {
  border: 1px solid darkgreen;
}*/

.b {
  border: 2px solid red;
  
}
.mh-slider {
  height: 500px;
}
{% endstylesheet %}

{% javascript %}

  const el = document.querySelector('.mh-slider');
  const swiperEffect = el.dataset.swiperEffect;
  const swiperAutoplay = el.dataset.swiperAutoplay === 'true';
  const swiperAutoplayDelay = Number(el.dataset.swiperAutoplayDelay);
  
  // BEGIN SWIPER INITIALIZATION
  const heroSlider = new Swiper(el, {
    direction: 'horizontal',
    loop: true,
    autoplay: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  //heroSlider.disable(); // Start disabled


{% endjavascript %}

{% schema %}
{
  "name": "Hero Slider",
  "blocks": [{"type": "slide"}],
  "presets": [
    {
      "name": "Hero Slider",
    }
  ]
}
{% endschema %}

